body{
    font-family: optima;
    font-size: 40pt;
    color: white;
    background-color: steelblue;
}

strong {
    font-weight: normal;
}

#prompt {
    float: left;
}

#userName {
    float: right;
}

#feedback {
    float: left;
    clear: left;
}

#numberCount{
    float: right;
    clear: right;
}

#reward{
    float:left;
    clear:both;
}

input{

    font-size: 40px;
    font-family: optima;
    background: steelblue;
    color: white;

}

input[type="text"] {
    padding: 0px;
    width: 300px;
    border: solid 0px steelblue;
}

input[type="submit"] {
    border: solid 1px grey;
    padding: 5px;
    box-shadow: 1px 1px 2px 0 #707070;
    padding
    transition: box-shadow 0.3s;
}


input:focus,
input[type="text"].focus {
    outline:0;
}

.Absolute-Center {
    text-align: center;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
